body{
  background: #f1f1f1;
  padding-top: 160px;
}

.active{
  background: #dfe3ee;
  color: #dfe3ee;
}
/*||| Home Page |||*/
/*Header Section*/
.container{}
  header{}
    nav{}
      nav .dropdown{ /*Button Container - position content*/
        position: relative;
        display: inline-block;
        width: 100%;
      }
        nav .dropbtn{ /*Dropdown Button*/
          background-color: #0000e5;
          color: #fff;
          font-size: 10rem;
          width: 100%;
          border: none;
          cursor: pointer;
        }
        nav .dropbtn:hover, nav .dropbtn:focus{ /*Dropdown hover & focus*/
          background-color: #0000e5;
        }
        nav .dropdown-content{ /*Default Hide content*/
          display: none;
          position: absolute;
          width: 100%;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }
        .dropdown-content a{ /*Content Link Style*/
          color: black;
          padding: 12px 16px;
          font-size: 12rem;
          background-color: #fff;
          text-align: center;
          border-bottom: 1px solid #000;
          text-decoration: none;
          display: block;
        }
        .dropdown-content a:hover { /*Color Change when hover - content*/
          background-color: #f1f1f1
        }
        .show{ /* For JS - Show content*/
          display: block;
        }
/*Main Section*/
main{}
  main .banner{}
    main .banner img{
      width: 100%;
    }
  main .after-school{
    width: 100%;
    margin-top: 50px;
  }
  main .after-school h1, main .other-program h1{
    text-align: center;
    font-size: 7rem;
    margin-bottom: 2rem;
  }
    main .after-school img{
      width: 100%;
      border: 2px solid #000;
    }
    main .after-school ul{}
      main .after-school ul li{
        list-style: none;
        font-size: 2.5rem;
      }
  main .other-program{
    width: 100%;
    margin-top: 50px;
  }
    main .other-program ul{}
      main .other-program ul li{
        list-style: none;
        font-size: 2.5rem;
      }
    main .other-program img{
      width: 100%;
      border: 2px solid #000;
    }
  main .contact{
    padding-top: 50px;
    width: 100%
  }
    main .contact h1{
      font-size: 8rem;
      text-align: center;
    }
    main .contact address{}
      main .contact address p{}
        main .contact address ul{}
          main .contact address ul li{
            list-style: none;
            text-align: ;
            width: 100%;
            padding-top: 5rem;
          }
            main .contact address ul li a{
              font-size: 5.5rem
            }
            main .contact address ul li a: hover{}
  main .social-media{
    width: 100%;
    margin-top: 100px;
  }
    main button{
      height: 15rem;
      font-size: 8rem;
      background: #3b5998;
      color: #f7f7f7;
      border: 2px solid #000;
      border-radius: 2%;
    }
/*Footer Section*/
footer{
  padding: 0;
  margin: 0;
}
  footer h1{
    text-align: center;
    color: #666;
  }
